---
import { playlists } from '@/lib/data';
import PlayListItemCard from '@/components/PlayListItemCard.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Spotify App Clone.">
    <div id="playlist-container" class="relative top-0 transition-all duration-1000 bg-customColor">
        <!--//todo <PageHeaders/> -->
        <div class="relative z-10 px-6 pt-12 pb-4 gap-4 flex flex-col">
            <!--//todo <Greetings/> -->
            <h2 class="text-2xl font-bold">Buenos Dias</h2>
            <div class="gap-2 w-full" id="cardlistPlay">
                {
                    playlists.map(playlist => <PlayListItemCard playlist={playlist}/>)
                }
            </div>
        </div>

        <div class="absolute inset-0 bg-gradient-to-t from-zinc-900 via-zinc-900/40"/>
    </div>
</Layout>

<style>
    .bg-customColor {
        background-color: #4A173A
    }

    #cardlistPlay {
        display: grid;
        grid-template-areas: 
        'card card card'
        'card card card'
        ;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr auto;
    }
</style>
