---
interface Props {
    href?: string
}

const {href} = Astro.props
---

<li class="">
    <a href={href} class="flex text-zinc-400 hover:text-zinc-100 fill-zinc-400 hover:fill-zinc-200 items-center gap-5 py-3 px-4 font-medium transition">
        <slot />
    </a>
</li>